@model IEnumerable<MeuToDoApp.Models.Notas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCriacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idNota">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idNota">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idNota">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
