@model IEnumerable<BlogCoreCodeFist.Models.Posts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumoPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConteudoPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResumoPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConteudoPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorias.NomeCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
