@model IEnumerable<EscolaSagawe.Models.EscolaViewModels.InstrutorIndexDados>

@{
    ViewData["Title"] = "Instrutores";
}

<h1>Professores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de Admição</th>
            <th>Sala</th>
            <th>Sala</th>
        </tr>
    </thead>
    <tbody>


@foreach (var item in Model)
{
    string selectedRow = "";
    if (item.ID == (int?)ViewData["InstrutorID"])
    {
        selectedRow = "table-success";
    }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmicacao)
            </td>


            <td>
                @if (item.Sala != null)
                {
                    @item.Sala.Localizacao
                }
            </td>

            <td>
                @foreach (var curso in item.CursoAdministrados)
                {
                    @curso.Curso.CursoID @curso.Curso.Titulo<br />
                }
            </td>

            <td>
                <a asp-action="Index" asp-route-id="@item.ID">Selecionar</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>
