@model IEnumerable<EscolaSagawe.Models.Estudante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary " asp-action="Create">Novo Estudante</a>
</p>
<table id="Estudantes" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMatricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMatricula)
            </td>
            <td>
                <a class="btn btn-warning m-1" asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                <a class="btn btn-info m-1" asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{ 
    <!-- Scripts em JavaScript-->
<script>
    $(document).ready(function () {
        $('#Estudantes').DataTable({
            "language": {
                "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
            }
        });
    });
</script>
}
