@model BlogSagawe.Models.Posts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Posts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumoPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumoPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConteudoPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConteudoPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPost">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
