@model AppEstudo.Models.CadPessoa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CadPessoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePrimeiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePrimeiro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubreNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubreNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPessoa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
